*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	
}
:root{
	--bg-color: rgb(255, 255, 255);
	--main-color: #e55472;
	--text-color: #010101;
	--2nd-color: #434343;
	--other-color: #666666;
	--big-font: 5rem;
	--h2-font: 2.3rem;
	--p-font: 1.3rem;
	--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}
body{
	color: var(--text-color);
	background: var(--bg-color);
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	background: var(--bg-color);
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 14%;
	transition: all .50s ease;
}
.logo img{
	width: 20%;
}

.logo{
	height: 50px;
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo h3{
	color: #ea60ae;
}	
.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: 15px;
	font-weight: 500;
	margin: 10px 22px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.h-icons{
	display: flex;
	align-items: center;
}
.h-icons i{
	font-size: 25px;
	color: var(--text-color);
	margin-left: 5px;
	margin-right: 20px;
	transition: all .50s ease;
}
.h-icons i:hover{
	transform: translateY(-4px);
	color: var(--main-color);
}
#menu-icon{
	height: 30px;
	width: 30px;
	background: var(--text-color);
	color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	border-radius: 50%;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 60px 14% 70px;
	margin-top: 4vw;
}

.new{
    margin-top: 3.5rem;
	position: relative; 
}

.heading{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color:var(--black);
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom:1rem; left:0;
    height: 100%;
    width: 100%;
    background: var(--light-yellow);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}




.center-text h2{
    margin-top: 3.5rem;
	text-align: center;
	font-size: var(--h2-font);
	font-weight: 800;
	color: var(--text-color);
}
.new-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 4.5rem;
	text-align: center;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
	background: #e55472;
	color: var(--bg-color);
	border: 0;
}

.btn:hover{
	background-color: #b86777;
	opacity: 1;
}

.contact{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 2rem;
	background: #272829;
}
.contact-box h4{
	margin-bottom: 1.5rem;
	font-size: 18px;
	color: var(--bg-color);
}
.contact-box li{
	margin-bottom: 18px;
}
.contact-box li a{
	display: block;
	color: #999999;
	font-size: 15px;
	font-weight: 500;
	transition: all .50s ease;
}
.contact-box li a:hover{
	transform: translateX(-7px);
	color: var(--main-color);
}
.contact-box h5{
	font-size: 16px;
	font-weight: 600;
	color: #999999;
}
.social{
	display: flex;
	margin-top: 1.8rem;
}
.social i{
	height: 37px;
	width: 37px;
	background: transparent;
	border: 2px solid var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 20px;
	margin-right: 1.1rem;
	color: var(--main-color);
	transition: all .50s ease;
}
.social i:hover{
	background: var(--main-color);
	color: var(--bg-color);
	transform: scale(1.1);
}


.end-text p{
	text-align: center;
	background: #272829;
	color: var(--other-color);
	font-size: 15px;
	letter-spacing: 1px;
	padding: 20px;
}

.scroll-top{
	position: fixed;
	bottom: 2.3rem;
	right: 2.3rem;
}
.scroll-top i{
	background: var(--main-color);
	color: var(--bg-color);
	font-size: 22px;
	padding: 12px;
	border-radius: 30px;
}

.contactUs{
	margin-bottom: 10vw;
}

.contactUs .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
	margin-top: 2vw;
}	

.contactUs .row .map{
    flex:1 1 42rem;
    width: 100%;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.contactUs .row form{
    padding:2rem;
    flex:1 1 42rem;
	box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1vw;
}

.contactUs .row form h3{
    font-size: 3rem;
    color:var(--black);
    padding-bottom: 1rem;
}

.contactUst .row form .box{
    width:100%;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border:var(--border);
    margin:.7rem 0;
	outline: none;
	padding: 2vh;
}

.contactUs .row form textarea{
    height:10rem;
    resize: none;
	padding: 1vw;
	border-radius: 0.3vw solid black;
	font-size: 1vw;
	outline: none;
}

.contactUs input{
	padding: 1vw;
	border-radius: 0.3vw solid;
	font-size: 1vw;
	outline: none;
}

#testimonials{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width:100%;
}

#testimonials .fas{
	color: yellow;
	background-color: yellow;
}
.testimonial-heading{
letter-spacing: 1px;
margin: 30px 0px;
padding: 10px 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.testimonial-heading span{
font-size: 1.3rem;
color: #252525;
margin-bottom: 10px;
letter-spacing: 2px;
text-transform: uppercase;
}
.testimonial-box-container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width:100%;
margin-top: 1vw;
}
.testimonial-box{
width:500px;
box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
background-color: #ffffff;
padding: 20px;
margin: 15px;
cursor: pointer;
}
.profile-img{
width:50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
margin-right: 10px;
}
.profile-img img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
.profile{
display: flex;
align-items: center;
}
.name-user{
display: flex;
flex-direction: column;
}
.name-user strong{
color: #3d3d3d;
font-size: 1.1rem;
letter-spacing: 0.5px;
}
.name-user span{
color: #979797;
font-size: 0.8rem;
}
.box-top{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}
.client-comment p{
font-size: 0.9rem;
color: #4b4b4b;
}
.testimonial-box:hover{
transform: translateY(-10px) translateX(5px);
transition: all ease 0.3s;
}

@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}


@media (max-width: 1600px){
	.navbar a{
		font-size: 12px;
	}
}

@media(max-width: 1450px){

	#menu-icon{
		display: block;
		height: 30px;
	    width: 30px;
	    background: var(--text-color);
	    color: var(--bg-color);
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 20px;
	    border-radius: 50%;
	    cursor: pointer;
	}
	.navbar{
		position: absolute;
		top: -800px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		text-align: left;
		background: var(--main-color);
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		padding: 5px;
		margin: 15px;
		font-size: 20px;
		font-weight: 600;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--bg-color);
	}
	.navbar.active{
		top: 100%;
	}
}

@media (max-width: 1200px){
	.contactUs .row form h3{
		font-size: 2rem;
		color:var(--black);
		padding-bottom: 1rem;
	}

	header{
		padding: 12px 3%;
	}
	section{
		padding: 40px 3% 50px;
	}
	.home{
		height: 50vh;
	}

	.home h1{
		font-size: 6vw;
	}
}
@media (max-width: 920px){
	.contactUs input{
		font-size: 3vw;
	}
	.contactUs .row form textarea{
		font-size: 3vw;
	}


	#menu-icon{
		display: block;
		height: 30px;
	    width: 30px;
	    background: var(--text-color);
	    color: var(--bg-color);
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 20px;
	    border-radius: 50%;
	    cursor: pointer;
	}
	.navbar{
		position: absolute;
		top: -800px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		text-align: left;
		background: var(--main-color);
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		padding: 5px;
		margin: 15px;
		font-size: 20px;
		font-weight: 600;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--bg-color);
	}
	.navbar.active{
		top: 100%;
	}
}
@media (max-width: 640px){
	:root{
		--big-font: 3.8rem;
	    --h2-font: 2rem;
	    --p-font: 1.1rem;
	}
	.home-text h1{
		line-height: 1.1;
	}
	.home{
		height: 40vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}




